Email Autoresponder con IA.json
{
  "name": "Email Autoresponder con IA",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -112
      ],
      "id": "51919b34-14cd-44d0-a148-885e9be7d180",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "jYl7vaanQr0xGYVk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente profesional que redactas respuestas a emails.\n\nEl email que has recibido es el siguiente:\nAsunto: {{ $json.Subject }}\nDe: {{ $json.From }}\nMensaje: {{ $json.snippet }}\n\nRedacta una respuesta profesional y amable en el mismo idioma del email. Sé conciso.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -144,
        -112
      ],
      "id": "db8c4aa9-2684-4846-bb67-241c024809ef",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        16
      ],
      "id": "63dc618e-6ff3-4e61-8998-6ba2825c771d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "P3jQohmP63vT2Gk9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        -112
      ],
      "id": "cff0482b-8d04-4f48-808d-64635611b31e",
      "name": "Create a draft",
      "webhookId": "6a553fc1-a6f0-4116-bdb0-4cf01cfd4898",
      "credentials": {
        "gmailOAuth2": {
          "id": "jYl7vaanQr0xGYVk",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7f3d3557-6c60-4526-a00d-d4b69d1f870e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "179ae48f3a8eddbf16613c47cc06a99e50667fd869a49c2846bde908eb3cee72"
  },
  "id": "HYRcASFlYu2isgjy",
  "tags": []
}