Email Autoresponder con IA.json
{
  "name": "Email Autoresponder con IA",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "CATEGORY_PERSONAL",
            "INBOX"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -912,
        -288
      ],
      "id": "51919b34-14cd-44d0-a148-885e9be7d180",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "jYl7vaanQr0xGYVk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente profesional que redacta respuestas a emails.\n\nEl email que has recibido es el siguiente:\nAsunto: {{ $('Gmail Trigger').item.json.subject }}\nDe: {{ $('Gmail Trigger').item.json.from }}\nMensaje: {{ $('Gmail Trigger').item.json.text }}\n\nContenido del archivo adjunto:\n{{ $('Extract from File').item.json.text }}\n\nRedacta una respuesta profesional y amable en el mismo idioma del email teniendo en cuenta el contenido del adjunto. Sé conciso.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -96,
        -432
      ],
      "id": "db8c4aa9-2684-4846-bb67-241c024809ef",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        -432
      ],
      "id": "cff0482b-8d04-4f48-808d-64635611b31e",
      "name": "Create a draft",
      "webhookId": "6a553fc1-a6f0-4116-bdb0-4cf01cfd4898",
      "credentials": {
        "gmailOAuth2": {
          "id": "jYl7vaanQr0xGYVk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        -288
      ],
      "id": "cf0b6a4b-8718-43c6-9c66-ec624d8c0ceb",
      "name": "Get a message",
      "webhookId": "a53fdbae-3046-49f4-b9c0-ca4412774a23",
      "credentials": {
        "gmailOAuth2": {
          "id": "jYl7vaanQr0xGYVk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        -432
      ],
      "id": "a6bd1c8f-0ab1-4b55-8f64-8d2930945795",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9981e376-dcd1-4a01-8573-b4e20cbb4040",
              "leftValue": "={{ $binary.attachment_0 }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -288
      ],
      "id": "af3c76dd-6e1a-45da-8f11-d5cd6dc7b29f",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente profesional que redacta respuestas a emails.\n\nAsunto: {{ $('Gmail Trigger').item.json.subject }}\nDe: {{ $('Gmail Trigger').item.json.from }}\nMensaje: {{ $('Gmail Trigger').item.json.text }}\n\nRedacta una respuesta profesional y amable en el mismo idioma del email. Sé conciso.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -304,
        -192
      ],
      "id": "a21edf0c-e3de-4974-9a45-6b4cd457de2e",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16,
        -192
      ],
      "id": "33af350a-d537-4731-b49c-d45bcf9f8b34",
      "name": "Create a draft2",
      "webhookId": "6a553fc1-a6f0-4116-bdb0-4cf01cfd4898",
      "credentials": {
        "gmailOAuth2": {
          "id": "jYl7vaanQr0xGYVk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        -320
      ],
      "id": "5fe62ab0-c85d-4a35-928b-6e6cae9fa25a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "IUU4ALPdaDEPe2Ie",
          "name": "Email-Autorespond"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -64,
        -64
      ],
      "id": "3c61c0e8-b314-4093-b457-5c0e9ee09c03",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "IUU4ALPdaDEPe2Ie",
          "name": "Email-Autorespond"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Create a draft2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d91b70ac-5003-4e65-9760-d8fe5fa467c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "179ae48f3a8eddbf16613c47cc06a99e50667fd869a49c2846bde908eb3cee72"
  },
  "id": "HYRcASFlYu2isgjy",
  "tags": []
}